* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

#header {
	margin-bottom: 70px;
	margin-top: 40px;
	text-align: center;
}

#head_01, #head_02, #head_03 {
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
	padding: 5px 5px 5px 5px;
	text-align: center;
	border: 1px solid black;
}

#head_01 {
	background-color: #F08080;
} 

#head_02 {
	background-color: red;
	color: white;
}

#head_03 {
	background-color: #FFDEAD;
}

#layout {
	overflow: hidden;  
	width: 100%;
	/* position: absolute;	*/
}

#box_01, #box_02, #box_03 {
	position: relative; 
	
	padding: 10px;
	margin: 10px;
	background: gray; 
	min-height: 100%;
	border: 2px solid black;
}

#box_01 {
   float: left;
   height: 100%;
}

#box_02 {
   float: left;
}

#box_03 {
   float: left;  
}

#content {
	margin-top: 40px;
}

/********** Desktop view **********/
@media (min-width: 992px) {
	#box_01, #box_02, #box_03 {
		width: 30%;
	}
}

/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
	#box_01, #box_02 {
		width: 45%;
	}
	#box_03 {
		width: 92.5%;
	}
	
}

/********** Mobile view **********/

@media (max-width: 768px) {
	#box_01 {
		width: 92.5%;
	}
	#box_02 {
		width: 92.5%;
	}
	#box_03 {
		width: 92.5%;
	}
	
}


